.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
td,tr,thead {
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    margin: 0 5px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body > p,a {
    text-align: center;
}
.btn-outline-secondary:focus {
    background-color: aquamarine;
}
.collapse-info {
    padding: 6px;
    margin: 10px 0;
    font-size: large;
}
.collapse-info > * {
    margin-bottom: 10px;
}
.two-img-layout > div {
    margin-top: 20px;
}
.two-img-layout > div > * {
    text-align: center ;
}